<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        
        .menu {
            width: 200px;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            background-color: #333333;
            color: white;
            padding: 20px;
        }

            
            .menu ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            
            .menu li {
                margin: 10px 0;
            }

            
            .menu a {
                color: white;
                text-decoration: none;
            }

               
                    color: yellow;
                }

    </style>
</head>
<body>
    <div class="menu">
        <h1>DANIŞAN</h1>
        <ul>
            <li><a href="/Danisan/DanisanAnaSayfa">Ana Sayfa</a></li>
            <li><a href="/Danisan/DanisanProfil">Profil</a></li>
            <li><a href="/IlerlemeKayit/IlerlemeKayitSayfa"> İlerleme Kaydı Ekle </a></li>
            <li><a href="/IlerlemeKayit/IlerlemeKayitlari">İlerleme Kayıtlarım </a></li>
            <li><a href="/Danisan/PlanGetir">Egzersiz Planlarım </a></li>
            <li><a href="/Danisan/Antrenorler">Antrenorler</a></li>
            <li><a href="/Login/Index">Çıkış Yap</a></li>

        </ul>
    </div>
    <div class="container">

        @RenderBody()

    </div>

    <footer class="footer footer--bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer__left">
                    <a class="navbar-brand" href="#"></a>
                    
                </div>

            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

