/* _content/Deneme3/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lunqk8nmef] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lunqk8nmef] {
  color: #0077cc;
}

.btn-primary[b-lunqk8nmef] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lunqk8nmef], .nav-pills .show > .nav-link[b-lunqk8nmef] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lunqk8nmef] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lunqk8nmef] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lunqk8nmef] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lunqk8nmef] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lunqk8nmef] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Deneme3/Views/Shared/_AntrenorLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-b0lnjqzt9h] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-b0lnjqzt9h] {
  color: #0077cc;
}

.btn-primary[b-b0lnjqzt9h] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-b0lnjqzt9h], .nav-pills .show > .nav-link[b-b0lnjqzt9h] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-b0lnjqzt9h] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-b0lnjqzt9h] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-b0lnjqzt9h] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-b0lnjqzt9h] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-b0lnjqzt9h] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Deneme3/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-atq5gl1ueq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-atq5gl1ueq] {
  color: #0077cc;
}

.btn-primary[b-atq5gl1ueq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-atq5gl1ueq], .nav-pills .show > .nav-link[b-atq5gl1ueq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-atq5gl1ueq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-atq5gl1ueq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-atq5gl1ueq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-atq5gl1ueq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-atq5gl1ueq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
