    @{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registerstyle.css">
    <title>Register</title>
</head>
<body>

    <div class="container">
        <h1>Register</h1>
        <form method="post">

            <label for="username">Kullanıcı Adı:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Şifre:</label>
            <input type="password" id="password" name="password" required>
            <h2>Ne olarak kayıt olmak istiyorsunuz?:</h2>
            <select name="kullaniciTuru">
                <option value="antrenor" selected="antrenor">Antrenör</option>
                <option value="danisan" selected="danisan">Danışan</option>
            </select>
            <button type="submit">Register</button>
        </form>
        <p class="message">Already registered? <a href="/Login/Index">Login here</a></p>
    </div>

</body>
</html>
